<template>
  <section v-if="location" class="location">
    <h1 class="location__title">{{ location.name }}</h1>
    <div class="location__body">
      <div class="location__sunrise"><strong>Sun rise:</strong> {{ location.sys.sunrise | moment('h:mma') }}</div>
      <div class="location__sunrise"><strong>Sun set:</strong> {{ location.sys.sunset | moment('h:mma') }}</div>
      <div class="location__forecast" v-if="forecastStatus">
        <span v-if="forecastStatus.loading">Loading...</span>
        <ul class="location__forecastItem" v-if="forecast">
          <li v-for="item in forecast" v-bind:key="item.dt">
            <div className="forecastItem__day">{{ (item.dt * 1000) | moment('ddd') }}</div>
            <div className="forecastItem__sealevel">{{ Math.round(item.main.sea_level) }}</div>
          </li>
        </ul>
      </div>
    </div>
    <button v-on:click="fetchForecastByLocation(location.id)">Get forecast</button>
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import moment from 'moment'

export default {
  props: ['id'],
  computed: mapState({
    location(state) {
      return state.locations.find(l => l.id === this.id)
    },
    forecast(state) {
      const forecast = state.forecastByLocation[this.id];

      if (forecast) {
        const filtered = forecast.filter(entry => moment.utc(entry.dt * 1000).hour() === 9)
        return filtered
      }

      return null
    },
    forecastStatus(state) {
      return state.forecastByLocationStatus[this.id]
    },
  }),
  methods: mapActions(['fetchForecastByLocation']),
}
</script>

<style scoped>
.location {
  margin: 40px 20px;
  padding: 25px 20px;
  background: white;
  box-shadow: 2px 2px 2px rgba(0,0,0,.33);
  border: 1px solid #efefef;
}

.location__title {
  margin: 0 0 15px;
}
</style>
