<template>
  <div class="skeleton">
    <div v-for="i in Array(5)" v-bind:key="i" class="fragment">
      <div class="fragment__title"></div>
      <div class="fragment__body"></div>
    </div>
    
  </div>
</template>

<style scoped>
.fragment {
  margin: 20px 20px;
}

.fragment__title {
  background: #ccc;
  width: 350px;
  max-width: 85%;
  height: 20px;
  margin-bottom: 20px;
}

.fragment__body {
  background: #ccc;
  height: 150px;
}

.fragment + .fragment {
  padding-top: 20px;
  border-top: 2px solid #aaa;
}
</style>
