<template>
  <div id="app">
    <Skeleton v-if="loading === true" />
    
    <template v-for="l in locations">
      <Location v-bind:key="l.id" v-bind:id="l.id" />
    </template>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import Skeleton from './components/Skeleton'
import Location from './components/Location'

export default {
  name: 'app',
  components: {
    Skeleton,
    Location,
  },
  computed: mapState({
    loading: state => state.appStatus.loading,
    locations: state => state.locations,
  }),
  methods: {
    ...mapActions['fetchLocations']
  },
  mounted() {
    this.$store.dispatch('fetchLocations')
  }
}
</script>

<style>
body {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

#app {
  max-width: 600px;
  margin: 0 auto;
}
</style>
